version: '3.8'

services:
  gcl-go:
    build:
      context: ./go
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - GCL_PORT=8080

  gcl-rust:
    build:
      context: ./rust
      dockerfile: Dockerfile
    ports:
      - "8081:8080"
    environment:
      - GCL_PORT=8080
