apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: decube-data
  namespace: decube
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: fast-ssd

