apiVersion: v1
kind: Service
metadata:
  name: decube
  namespace: decube
  labels:
    app: decube
spec:
  type: ClusterIP
  selector:
    app: decube
  ports:
  - name: http
    port: 8080
    targetPort: http
    protocol: TCP
  - name: grpc
    port: 9090
    targetPort: grpc
    protocol: TCP
  - name: metrics
    port: 9090
    targetPort: metrics
    protocol: TCP

